/* Global STart */
.service-7 .service .service-box .s-box {
    padding: 20px;
    text-align: center;
}

.service-content-h3{
        font-size: 14px;
        line-height: 18px !important;
    }

.caption h3{
    line-height: 18px !important;
}

.footer-bottom.hrb {
    margin-top: -60px;
}

  .gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 450px;
   /*  height: 400px; */
}


/*About US Start*/
.ser_csi {
    background-color: #505050;
    color: #e6e6e6;
    padding-bottom: 47px;
}
.ser_cs {
    background-color: #505050;
    color: #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 80px;
}

.img_box{
    margin-top: 60px;
    margin-bottom: 40px;
}

.img_box img{
    height: 500px;
}

.exservice {
    text-align: center;
    margin-top: 30px;
}

.exservice {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
}
/*.px_section {
    margin-top: 50px;
    margin-left: 65px;
}*/
.p_section {
    margin-top: 50px;
    margin-left: 65px;
}

.px_section {
    margin-top: 13px;
    padding-inline: 75px;
}
span.C_header {
    font-size: 30px;
}

.box_line img {
    width: 91%;
    margin-left: 23px;
    padding-top: 50px;
}

h3.About_h3 {
    color: #777676;
    background: #c1c1c10d;
}


/*About US End*/



/* Global End */

/* Desktop Css COde Start */
@media (min-width: 768px) {
    .service-content-h3{
        font-size: 14px;
        line-height: 18px !important;
    }

}
/* Desktop Css COde End */

/* Mobile Css Code Start */
@media (max-width: 768px) {
    .tr-pro-img > a > img {
        width: 100%;
    }

    .h-t-pro .tred-pro .Pro-lable span.p-text {
        left: 32px;
        background-color: #82b83d;
    }

    .service-content-h3{
        font-size: 14px;
        line-height: 18px !important;
    }

    .swiper-slide
    {
        /*width: 100% !important;*/
       /* margin-right: 0px !important;*/
    }

    .footer-bottom.hrb {
    margin-top: -60px;
    margin-left: 50px;
    }

    .home_delivery .delviery-icon
    {
        margin: 0 auto;
    }

    .owl-nav{
        display: none;
    }

    .gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 300px;
    /* height: 400px; */
}

   .social {
    display: none;
}

.book-now-wrapper.cl-block {
    display: none;
}

/*.header-main-area.is-sticky {
    margin-top: 55px;
    border-bottom: 3px solid #9c108a;
   
}*/

}

/* Mobile Css Code End */